body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#homePage{
    position: absolute;
    top: 25px;
    left: 25px;
}

#display{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: rgb(42, 41, 41);
    color: white;
}

.center{
    display: flex;
}

#digits{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#operators{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.number, .operator, #clearButton{
    height: 50px;
    width: 50px;
}

.equal{
    width: 100px;
    height: 50px;
}

#clearButton{
    width: 200px;
}

#zeroEqualDivision{
    display: flex;
    grid-template-rows: repeat(1fr, 1fr, 1fr);
}