.calculator{
    width: 500px;
}


#display{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: rgb(42, 41, 41);
    color: white;
    justify-content: center;
}

.center{
    display: flex;
}

#digits{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#operators{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.number, .operator, #clearButton{
    height: 50px;
    width: 50px;
}

.equal{
    width: 100px;
    height: 50px;
}

#clearButton{
    width: 200px;
}

#zeroEqualDivision{
    display: flex;
    grid-template-rows: repeat(1fr, 1fr, 1fr);
}